<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-6-offset-3">
    <h3 class="teal">Your Lists</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-6-offset-3">
    <table class="table">
      <thead>
        <!-- <tr class="info-row">
          <th class="text-left item-cell">List Title</th> -->
          <!-- <th colspan="3">List Description</th> -->
          <!-- <th class="text-center icon-cell">Edit</th>
          <th class="text-center icon-cell">Delete</th> -->
        <!-- </tr> -->
      </thead>

      <tbody>
        <% @lists.each do |list| %>
          <tr>
            <td class="text-left"><%= link_to list.title, list %></td>
            <!-- <td class="text-left"><%= list.description %></td> -->
            
            <% if user_signed_in? %>
        <% if current_user.id == list.user_id %>

        <td><%= link_to '', edit_list_path(list), class: 'glyphicon glyphicon-pencil' %></td>
        <td><%= link_to '', list, class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Create A New List', new_list_path, class: 'btn btn-custom up' %>
    </div>
</div>

