<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @list.user_id %>
</p> -->
  
<div>
	<%= render @list.list_items %>
</div>

<div>
	<%= render 'list_items/form' %>
</div>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
