<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<table class="table">
			<tr>
				<th colspan="3" class="text-center table-title"><%= @list.title %></th>
			</tr>
			<!-- <tr>
				<td colspan="3" class="text-left"><strong>Description: </strong><%= @list.description %></td>
			</tr> -->
			<tr>
				<%= render @list.list_items %>
			</tr>
		</table>

		<%= render 'list_items/form' %>

		<%= link_to 'Edit This List', edit_list_path(@list) %> |
		<%= link_to 'Back to Master Lists', lists_path %>
		
	</div>
</div>
