<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<span class="default-link upper">
			<%= link_to 'Edit This List', edit_list_path(@list) %>  &#8226;  
			<%= link_to 'Back to Your Lists', lists_path %> 
		</span>
		
			<div class="text-center table-title">
				<%= @list.title %>
			</div>
			<!-- <tr>
				<td colspan="3" class="text-left"><strong>Description: </strong><%= @list.description %></td>
			</tr> -->
			<table class="table">
				<tr>
					<%= render @list.list_items %>
				</tr>
			</table>

			<%= render 'list_items/form' %>

			<span class="default-link">
				<%= link_to 'Edit This List', edit_list_path(@list) %>  &#8226;  
				<%= link_to 'Back to Your Lists', lists_path %> 
			</span>
	</div>
</div>
