<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		
				<div class="text-center table-title">
					<%= @list.title %>
				</div>
			<!-- <tr>
				<td colspan="3" class="text-left"><strong>Description: </strong><%= @list.description %></td>
			</tr> -->
		<table class="table">
			<tr>
				<%= render @list.list_items %>
			</tr>
		</table>

		<%= render 'list_items/form' %>

		<%= link_to 'Edit This List', edit_list_path(@list) %><span class="default-link">  &#8226;  </span>
		<%= link_to 'Back to Your Lists', lists_path %>
		
	</div>
</div>
