<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Sign Up</h2>
  </div>
</div>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name),layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6 col-md-5") do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <% if @validatable %>
    <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <% end %><!-- <br /> -->
    <%= f.password_field :password, autocomplete: "off", placeholder: "Must be at least 8 characters." %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.form_group do %>
      <%= f.submit "Sign Up" %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= render "devise/shared/links" %>
  </div>
</div>


