<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Change your password</h2>
  </div>
</div>



<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6 col-md-5", html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= render "devise/shared/links" %>
  </div>
</div>


