<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Forgot your password?</h2>
  </div>
</div>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name),layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6 col-md-5", html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
  	<%= f.form_group do %>
    	<%= f.submit "Send me reset password instructions" %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= render "devise/shared/links" %>
  </div>
</div>



