<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Log In</h2>
  </div>
</div>

<%= bootstrap_form_for(resource, as: resource_name,  url: session_path(resource_name), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6 col-md-5") do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
    <%= f.form_group do %>
      <%= f.check_box :remember_me %>
    <% end %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.form_group do %>
      <%= f.submit "Log In" %>
    <% end %>
  </div>

<% end %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= render "devise/shared/links" %>
  </div>
</div>


